.showreel {

    padding: 75px 0;

    .player {

        width: 80%;
        margin: 0 auto;
        position: relative;

        video {
            width: 100%;
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba($color: $secondary-color, $alpha: 0.4);
            width: 100%;
            height: 100%;
            font-size: 18px;
            letter-spacing: 1px;
            text-shadow: 1px 1px 1px $secondary-color;
            color: $primary-color;
            position: absolute;
            top: 0;
            left: 0;

            // &:before {

    // }
        }
    }
}