<!-- szablon tylko i wyłącznie dla naszego widoku index -->

<!-- pozwala użyć potem zmiennej static która automatycznie pozwala odwołać się do 
folderu static -->

{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500|Poppins:300,400&display=swap&subset=latin-ext"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'polls/main.css' %}">
</head>

<body>
    <section class="polls">
        <div class="bg-photo"></div>
        <div class="polls-box">
            {% block content %}{% endblock %}
        </div>
    </section>
    
</body>

</html>