$primary-color: #ffffff;
$secondary-color: #143b5a;
$very-light-color: #f7f7f7;
$light-color: #6f6f6f;
$dark-color: #000000;
// $strong-color: #fe4f23;
$strong-color: #ff4b36;
// $strong-color: #F1423C;
$normal-text-font: 'Roboto';
$menu-header-font: 'Raleway';