.home {
    // position: relative;
    // top: 0;
    // right: 0;
    // margin: 0 0 0 400px;
    // min-height: 100vh;
    background-image: url("../img/home.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    // overflow: hidden;
    transition: 1s all;
    // z-index: 0;

    // @media (max-width: 1040px) {
    //     position: relative;
    //     top: 0;
    //     margin: 0;
    //     width: 100vw;
    // }

    &:after {
        content: "";
        display: block;
        position: absolute;
        background-color: rgba($color: #000000, $alpha: 0.5);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        position: relative;
        z-index: 1;

        .profile-photo {
            img {
                display: block;
                height: 220px;
                width: 220px;
                border-radius: 50%;
                border: 9px solid #3B4F5E;
            }
        }

        h2 {
            color: $primary-color;
            text-align: center;
            font-size: 45px;
            text-transform: uppercase;
            font-weight: 700;
            padding: 20px 0;
            margin: 0;
            @include fluid-type(320px, 1170px, 25px, 45px);

            span {
                color: $strong-color;
            }
        }

        p {
            color: $primary-color;
            font-size: 19px;
            font-family: 'Roboto';
            margin: 0;
        }
    }
}