<!-- szablon tylko i wyłącznie dla naszego widoku index -->
{% extends "base.html" %}

{% block content %}

    <nav>
        <a href="{% url 'polls:index' %}">Strona główna</a>
    </nav>
    <h1>{{ title }}</h1>

    <p>{{ question }}</p>

    <form method="POST" action="">
        {% csrf_token %}
        
        <ol>
            {% for choice in question.choice_set.all %}
            <!-- {# zamiast procenta w komentarzu, żeby Django nie wykrywało składni} -->

            <!-- {# for choice in choices_filtered #} -->
            <!-- {# for choice in question.choice_set.filter() <- django nie obsługuje tu nawiasów #} -->
                <li><label><input type="radio" name="choice" value="{{ choic.id }}"> {{ choice }}</label></li>
            {% endfor %}
        </ol>
        <input type="submit" value="Zagłosuj">
    </form>

{% endblock %}