<!-- szablon tylko i wyłącznie dla naszego widoku index -->
{% extends "base.html" %}

{% block content %}

    <nav>
        <a href="{% url 'polls:index' %}">Strona główna</a>
    </nav>
    <h2>{{ title }}</h2>

    <p class="question">{{ question }}</p>

    <form method="POST" action="{% url 'polls:vote' question.id %}">
        {% csrf_token %}
        
        <ul>
            {% for choice in question.choice_set.all %}
            <!-- {# zamiast procenta w komentarzu, żeby Django nie wykrywało składni} -->

            <!-- {# for choice in choices_filtered #} -->
            <!-- {# for choice in question.choice_set.filter() <- django nie obsługuje tu nawiasów #} -->
                <li><label><input type="radio" name="choice" value="{{ choice.id }}"> {{ choice }}</label></li>
            {% endfor %}
        </ul>
        <input class="vote-button" type="submit" value="Zagłosuj">
    </form>

{% endblock %}