/* $main-font: 'Poppins';
$second-font: 'Montserrat';
$primary-color: #000;
$secondary-color: #F7F7F7;
$extra-color: #0C485D; */

* {
    box-sizing: border-box;
}

body {
    background-color: #F7F7F7;
    /* font-family: "Montserrat"; */
}

a {
    text-decoration: none;
}

.polls {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

.bg-photo {
    width: calc(100vw - 560px);
    min-height: 100vh;
    background-image: url("./assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.polls-box {
    width: 560px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #F7F7F7;
    padding: 90px 55px 55px;
    font-weight: 400;
}

.polls-box h1 {
    font-size: 30px;
    font-weight: 400;
    margin: 0 0 90px;
    padding: 0;
    color: #000000;
    font-family: "Montserrat";
}

.polls-box h2 {
    font-size: 30px;
    font-weight: 400;
    margin: 0 0 40px;
    padding: 0;
    color: #000000;
    font-family: "Montserrat";
}

.polls-box h3 {
    display: block;
    margin: 0 0 30px;
    padding: 0;
    height: 50px;
    width: 100%;
}

.polls-box h3 a {
    display: block;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Poppins";
    font-weight: 300;
    margin: 0;
    padding: 0;
    background-color: #158DA1;
    border: 0;
    border-radius: 15px;
    cursor: pointer;
    outline: none;
}

.polls-box nav a {
    display: block;
    padding: 0;
    margin: 0 0 70px;
    font-family: "Montserrat";
    color: #158DA1;

}

.polls-box .question {
    font-family: "Poppins";
    color: #158DA1;
    font-size: 24px;
    margin: 0;
    font-weight: 300;
}

.polls-box form {
    width: 100%;
}

.polls-box form ul {
    align-self: center;
    list-style-type: none;
    margin: 30px 0;
    padding: 0 0 0 30px;
}

.polls-box form ul li {
    margin: 0 0 15px;
    display: flex;
    align-items: center;
}

.polls-box form ul li:last-child {
    margin: 0;
}

.polls-box form ul li label {
    padding: 0 0 0 10px;
    display: flex;
    align-content: center;
    padding-left: 28px;
    cursor: pointer;
    font-family: "Poppins";
    font-weight: 300;
}

.polls-box form ul li label input {
    visibility: hidden;
    position: relative;
}

.polls-box form ul li label input:before {
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    content: "\2713";
    font-size: 14px;
    width: 16px;
    height: 16px;
    color: transparent;
    border-radius: 50%;
    background: #FFFFFF;
    border: 1px solid #158DA1;
    left: -12px;
    /* top: 50%; */
    /* transform: translateY(-50%); */
}

.polls-box form ul li label input:checked:before {
    color: #000000;
}

.polls-box form .vote-button {
    display: block;
    width: 100%;
    height: 50px;
    font-size: 24px;
    color: #FFFFFF;
    font-family: "Poppins";
    font-weight: 300;
    background-color: #158DA1;
    padding: 0;
    margin: 50px 0 0;
    border: 0;
    border-radius: 15px;
    cursor: pointer;
    outline: none;
}